---
layout: home
---

<div class="home">
  <div class="banner">
    <h1 class="banner-title">
  </div>


  <div class="posts">


    <div class="card" id="recent">
      <h2 class="recent-heading">
        Recent Posts
      </h2>
      <ul class="recent-posts">
      {% for post in site.posts %}
        <li>
          <a class="recent-link" href=
          "{{post.url | prepend:site.baseurl}}">
          {{post.title}}</a>
         </li>
      {% endfor %}
      </ul>
      <ul class="categories">
        <li>
          <a class="quotes-link" href="#">
            <span class="cat-icon" data-icon="e"></span>
            <span class="cat-text">Quotes</span>
          </a>
        </li>
        <li>
          <a class="articles-link" href="#">
            <span class="cat-icon" data-icon="j"></span>
            <span class="cat-text">What's going on?</span>
          </a>
        </li>
        <li>
          <a class="audio-link" href="#">
            <span class="cat-icon" data-icon="d"></span>
            <span class="cat-text">Listen to their stories</span>
          </a>
        </li>
        <li>
          <a class="links-link" href="#">
            <span class="cat-icon" data-icon="f"></span>
            <span class="cat-text">Read their stories</span>
          </a>
        </li>
      </ul>
    </div>

    {% for post in site.posts limit:5 %}
        {% if post.type == "article" %}
          <div class="card article">
          <span class="card-icon" data-icon="j"></span>
        {% elsif post.type == "quote" %}
          <div class="card quote">
          <span class="card-icon" data-icon="e"></span>
        {% elsif post.type == "audio" %}
          <div class="card audio">
          <span class="card-icon" data-icon="d"></span>
        {% elsif post.type == "learn" %}
          <div class="card learn">
          <span class="card-icon" data-icon="i"></span>
        {% elsif post.type == "link" %}
          <div class="card link">
          <span class="card-icon" data-icon="f"></span>
        {% endif %}
        {% if post.type == "quote" %}
          <h2><a href="{{ post.url | prepend: site.baseurl }}">"{{ post.quote }}"</a></h2>
        {% else %}
        <a class="link-overlay" href="{{ post.url | prepend: site.baseurl }}" style="background-image: url({{post.image}});background-position:{{post.bgpos}}">{{post.title}}</a>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {% endif %}

      </div>
    {% endfor %}
  </div>

</div>
