<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
       <a href="http://unrefugees.org" target="_blank">{% image U4Ulogo.jpg %}
      </div>

      <div class="footer-col  footer-col-2">
        
      </div>

      <div class="footer-col  footer-col-3">
        <div class="footer-icons">
          <a href="https://www.facebook.com/UNREFUGEES" data-icon="a" target="_blank"></a>
          <a href="https://twitter.com/@unrefugeeagency" data-icon="b" target="_blank"></a>
          <a href="https://instagram.com/usaforunhcr" data-icon="c" target="_blank"></a>
        </div>
      </div>
    </div>

  </div>

</footer>
