<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{%image logo.png alt:'Woment on the run.' %}</a>
    <form class="signup">
      <p class="signup-text">Sign up to learn more!</p>
      <span id="conf-message"></span>
      <label>email<span class="asterix">*</span></label>
      <input type="email" name="EMAIL" required>
      <label>name<span class="asterix">*</span></label>
      <input type="text" name="NAME" required>
      <input type="submit" class="submit-button"></input>
    </form>
    <div class="social-icons">
         <a class="facebook" target="_blank" share_url="http://womenonthe.run" data-icon="a" href="http://www.facebook.com/sharer.php?appID=1718900588328720&link=http://womenonthe.run" rel="nofollow"></a>
          <a class="twitter" data-icon="b" href="https://twitter.com/intent/tweet?url={{post.url | prepend: site.url}}" target="_new"></a>
        <a href="https://instagram.com/usaforunhcr" data-icon="c" target="_blank"></a>
    </div>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        {% image menu.svg %}
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>


  </div>

</header>
