{% stylesheet home %}
{% stylesheet styles %}
{% javascript home %}

    <meta property ="twitter:card" content="summary_large_image"/>
    <meta property="og:url" content="http://womenonthe.run"/>
    <meta property="og:title" content="Women on the run"/>
    <meta property="og:description" content="UNHCR has drafted a report on the women fleeing the Central American Northern Triangle – El Savador, Guatemala and Honduras. There is a surging tide of violence sweeping across the Northern Triangle forcing thousands of women, men and children to leave their homes every day."/>
    <meta property="twitter:text:description" content="UNHCR has drafted a report on the women fleeing the Central American Northern Triangle – El Savador, Guatemala and Honduras. There is a surging tide of violence sweeping across the Northern Triangle forcing thousands of women, men and children to leave their homes every day."/>
    <meta property="og:image" content="http://womenonthe.run/images/cover.jpg"/>
    <meta property="twitter:site" content="@UNRefugeeAgency"/>
    <meta property="twitter:creator" content="@UNRefugeeAgency"/>