@import 'variables';
$break-single: 500px;

input{
  &:focus{
    outline: none;
  }
}

.signup{
  display: inline-block;
  margin-left: 2vw;
  font-family: 'Nixie One', sans-serif;
  
  & input{
  font-family: inherit !important;
  &[type="submit"]{
    background-color: $dark-orange  ;
    color: white;
    border: none;
    font-size: 16pt;
    font-family: 'Nixie One', sans-serif;
    transition: all .2s ease-in-out;
    &:hover{
      color: black;
      background-color: white;
    }
    @media screen and (max-width: $break-single){
      margin-left: 20%;
      margin-top: 10%;
    }
    }
  }
  & label{
    @media screen and (max-width: $break-single){
      margin-left: 20%;
    }
  }
}


.conf-message{
  display: none;
  width: 40%;
}
.signup-text{
  margin-top: 2vh;
  background-color: $light-orange;
}

.asterix{
  color: $dark-orange;
}

.friends{
  width: 60%;
  margin: auto;
  & label{
    margin-right: 3%;
    width:40%;
    display: inline-block;
    text-align: right;
  }
}
