<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include post-head.html %}
    <meta property ="twitter:card" content="{{ page.twitter-card}}"/>
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl }}"/>
    <meta property="og:title" content="{{ page.og-title }}"/>
    <meta property="og:description" content="{{page.og-description}}"/>
    <meta property="twitter:text:description" content="{{page.og-description}}"/>
    <meta property="og:image" content="{{page.image}}"/>
    <meta property="twitter:site" content="@UNRefugeeAgency"/>
    <meta property="twitter:creator" content="@UNRefugeeAgency" />


  </head>
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
