<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" >
  <head>
    {% include head.html %}
    {% include post-head.html %}
    <meta property ="twitter:card" content="{{ page.twitter-card}}"/>
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl }}"/>
    <meta property="og:title" content="{{ page.og-title }}"/>
    <meta property="og:description" content="{{page.og-description}}"/>
    <meta property="twitter:text:description" content="{{page.og-description}}"/>
    <meta property="og:image" content="{{page.image | prepend: site.url}}"/>
    <meta property="twitter:site" content="@UNRefugeeAgency"/>
    <meta property="twitter:creator" content="@UNRefugeeAgency" />


  </head>
  <body>
  <!-- Facebook Conversion Code for Registrations - HIVE 1 -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6031385174098', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6031385174098&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>


    {% include header.html %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69433326-1', 'auto');
  ga('send', 'pageview');

  </script>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
